
main {
    padding-left: 5px;
}

.contact-info {
    text-align: center;
    display: flex;
    margin: 5px;
    justify-content: center;
}

.contact {
    margin: 0px 5px 0px 5px;
}

h1 {
    text-align: center;
    color: #000000;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0px auto;
}

h2 {
    color: #000000 ;
    background-color: #c6e2e9 ;
    padding-top: 3px;
    padding-bottom: 3px;
}

.paragraph {
    padding: 5px;
    display: block;
}

img {
    max-width: 40px;
}

.justify-right {
    display: flex;
    justify-content: space-between;
}

#technical-skills-p {
    background-color: #c6e2e94f;
}

#education {
    background-color: #fad2e1;
}

#education-p {
    background-color: #fad2e14b;
}

#technical-experience {
    background-color: #d0f4de;
}

#technical-experience-p {
    background-color: #d0f4de5f;
}

#professional-experience {
    background-color: #dbcdf0;
}

#professional-experience-p {
    background-color: #dbcdf056;
}

button.accordian {
    border: none;
    width: 100%;
    background-color: #c6e2e9;
    outline: none;
    font-size: 26px;
    font: bold;
    padding: 5px;
    text-align: left;
    font-weight: bolder;
    cursor: pointer;
}

button.accordian ::before {
    font-family: FontAwesome; 
    content: '\f078';
    font-size: 18px;
    float: right;
}